
/* Main Background */
body{
    background:#f4f7f6;
    font-family:Arial, sans-serif;
}

/* Sidebar */
.sidebar{
    background:#e9f6ef;
    min-height:100vh;
    padding:20px;
}

.sidebar a{
    display:block;
    padding:12px;
    color:#198754;
    text-decoration:none;
    margin-bottom:8px;
    border-radius:6px;
    font-weight:500;
}

.sidebar a.active,
.sidebar a:hover{
    background:#198754;
    color:white;
}

/* Cards */
.stat-card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
    text-align:center;
}

/* Activity */
.activity-item{
    display:flex;
    justify-content:space-between;
    padding:12px 0;
    border-bottom:1px solid #eee;
}

/* Buttons */
.action-btn{
    border-radius:25px;
    padding:10px 25px;
    font-weight:500;
}

 